- training_exercises = TrainingExercise.where(:training_id => training.id)
.accordion{:id => "training#{training.id}"}
  .accordion-group
    .accordion-heading
      .training-header
        %a{:class => 'accordion-toggle span4', 'data-toggle' => 'collapse', :href => "#collapse#{training.id}"}
          = "Training - #{training.start.hour}:#{training.start.min}"
        <!-- .span6.training-header-description= training.description -->
        .span6
        .span2.training-options
          %a.icon-repeat{"data-toggle" => "modal", :href => "#repeatModal#{training.id}", :role => "button", title: 'Repeat training', rel: 'tooltip'}
          = render :partial => 'layouts/repeat_modal', :locals => {:training => training}
          = link_to '', training_path(training), :class => 'icon-share', title: 'Pulic link', rel: 'tooltip'
          = link_to '', user_training_path(current_user, training), data: { confirm: 'Are you sure?' }, :method => :delete, remote: true, :class => 'icon-trash', title: 'Delete training', rel: 'tooltip'
      %div{:id => "collapse#{training.id}", :class => 'accordion-body collapse'}
        .accordion-inner
          .h3 Description:
          .p= training.description
          .push
          %table.table.training-table{:id => "exercise#{training.id}"}
            - if not training_exercises.empty?
              = render 'training_exercises/training_table_header'
            %tbody
              - training_exercises.each do |exercise|
                = render exercise
          = form_for :exercise, :url => training_exercises_path(:training_id => training.id), remote: true, html: {:class => 'form-inline'} do |f|
            = f.text_field :id, :type => 'hidden', :class => 'exerciseId'
            = f.text_field :name, :class => 'add_training_exercise span12', :autocomplete => 'off', :placeholder => 'Element name'
            = f.text_area :description, :placeholder => 'Description', :class => 'exerciseDesc span12'
            = f.text_field :apparatus, :class => 'exerciseApparatus input-small', :placeholder => 'Apparatus', data: {autocomplete_source: Apparatus.order(:name).map(&:name)}
            .input-append
              = f.number_field :load, :placeholder => 'Load', :min => 0, :class => 'exerciseLoad input-mini'
              %span.add-on kg
            = f.check_box :hold, :class => 'te-cb'
            = f.number_field :number_of_reps_in_set, :min => 0, :placeholder => 'Reps', :class => 'exerciseReps input-mini'
            .input-append.te-len
              = f.number_field :length, :min => 0, :placeholder => 'Length', :class => 'exerciseLength input-mini'
              %span.add-on sec
            = f.number_field :number_of_sets, :min => 0, :placeholder => 'Sets', :class => 'exerciseSets input-mini'
            = f.button :Add, :class => 'btn'
