.push
.accordion#accordion2
  .accordion-group
    .accordion-heading
      %a{:class => 'accordion-toggle', 'data-toggle' => 'collapse', :href => '#collapseNew'} Create new training
      %div{:id => 'collapseNew', :class => 'accordion-body collapse'}
        .accordion-inner
          = form_for :training, :url => user_trainings_path do |f|
            %p
              #datetimepicker1.input-append.date.span12
                = f.text_field :start, 'data-format' => 'dd-MM-yyyy hh:mm:ss', :value => @datetime.strftime('%d-%m-%Y %H:%M:%S'), :class => 'span11'
                %span.add-on
                  %i{'date-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
            .input-append.span12
              = f.number_field :length, :min => 0, :placeholder => 'Length', :class => 'span11'
              %span.add-on min
            %p
              .span12
                = f.text_area :description, :placeholder => 'Description', :class => 'span12'
            %p= f.button :create, :class => 'btn'
= render @trainings
= render 'layouts/daily_training'
