.span3
.span6
  - if @training
    - training_exercises = TrainingExercise.where(:training_id => @training.id)
    = "Training - #{@training.start.hour}:#{@training.start.min}"
    %table.table
      %thead
        %tr
          %th Name
          %th Load
          %th Reps
          %th Sets
          %th Done
      %tbody
        - training_exercises.each do |te|
          %tr{:class => "#{'done' if te.done}"}
            - ex = te.exercise
            %td= te.exercise.element.name
            %td
              - load = ex.load
              = load == 0 ? '-' : "#{load} kg"
            %td= ex.number_of_reps_in_set
            %td= ex.number_of_sets
            %td.done-cell
              %i{:class => "#{'icon-ok' if te.done}"}
  - else
    = render 'layouts/errors'
