= form_for @element, :html => {:multipart => true} do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.file_field :image
    = f.label :remote_image_url, 'or from url'
    = f.text_field :remote_image_url, :class => 'input-small'
  %p
    = f.label :description
    = f.text_area :description
  %p= submit_tag "Save"
