= link_to 'Create new Element', new_element_path
%ul
  - @elements.each do |element|
    %li
      %div{:class => "#{element.user == current_user ? 'element' : 'foreign'}"}
        = link_to '', element_path(element.id) if element.user == current_user
        %p= image_tag element.image_url(:thumb).to_s
        %h5= element.name
        %p= element.description
