= form_for :element, :html => {:multipart => true}, :url => elements_path do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.file_field :image
  %p
    = f.label :description
    = f.text_area :description
  %p= submit_tag "Create element"
