%p
  Name:
  = @element.name
%p
  = image_tag @element.image_url(:small).to_s
%p
  Description:
  = @element.description
%p
  = link_to 'edit', edit_element_path(@element) if @element.user == current_user
  |
  = link_to 'delete', element_path(@element), data: {confirm: 'Are you shure?'}, :method => :delete if @element.user == current_user
