%tr{'data-content' => "#{daily_exercise.exercise.description}", 'data-original-title' => 'Description', 'data-placement' => 'right', 'data-toggle' => 'popover', 'data-trigger' => 'hover', :href => '#', :title => '', :class => "de#{daily_exercise.id}"}
  - ex = daily_exercise.exercise
  - apparatus = ex.apparatus || Apparatus.new
  - apparatus = apparatus.short || ''
  %td= ex.element.name + ' ' + apparatus
  %td
    - load = ex.load
    = load == 0 ? '-' : "#{load} kg"
  - if ex.hold
    %td= "#{ex.length}sec"
  - else
    %td= ex.number_of_reps_in_set
  %td= ex.number_of_sets
  %td= daily_exercise.datetime.strftime('%H:%M')
  %td
    = link_to '', daily_exercise_path(daily_exercise), data: { confirm: 'Areyou sure?' }, :method => :delete, remote: true, :class => 'icon-remove'
