var len = $('#daily-exercises-table tbody tr').length
if( len == 0 )
    $('#daily-exercises-table').prepend('<%= j render "daily_exercises/exercises_table_header" %>');

$('#daily-exercises-table').append('<%= j render @daily_exercise %>');
