- if not user_signed_in?
  .span4.pull-right
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %p= devise_error_messages!
      %p= f.email_field :email, :autofocus => true, :placeholder => 'Email'
      %p= f.password_field :password, :placeholder => 'Password'
      %p= f.password_field :password_confirmation, :placeholder => 'Password confirmation'
      %p= f.submit 'Sign up', :class => 'btn btn-primary'
