%tr{"data-content" => training_exercise.exercise.description, "data-original-title" => "Description", "data-placement" => "right", "data-toggle" => "popover", "data-trigger" => 'hover', :href => "#", :title => "", :class => "#{'done' if training_exercise.done} te#{training_exercise.id}"}
  - ex = training_exercise.exercise
  - apparatus = ex.apparatus || Apparatus.new
  - apparatus = apparatus.short || ''
  %td= ex.element ? ex.element.name + ' ' + apparatus : "-"
  %td
    - load = ex.load
    = load == 0 ? '-' : "#{load} kg"
  - if ex.hold
    %td= "#{ex.length}sec"
  - else
    %td= ex.number_of_reps_in_set
  %td= ex.number_of_sets
  %td.done-cell
    %i{:class => "#{'icon-ok' if training_exercise.done}"}
  %td
    =# link_to '', '', :class => 'icon-edit'
    = link_to '', training_exercise_path(training_exercise), data: { confirm: 'Are you sure?' }, :method => :delete, remote: true, :class => 'icon-remove'
  %td
    = form_for :training_exercise, :url => training_exercise_path(training_exercise), remote: true, :method => :put do |f|
      = f.text_field :done, :value => training_exercise.done
      = f.submit ''
