var len = $('#exercise<%= @training.id %> tbody tr').length
if( len == 0 )
    $('#exercise<%= @training.id %>').prepend('<%= j render "training_exercises/training_table_header" %>');

$('#exercise<%= @training.id %>').append('<%= j render @training_exercise %>')
