// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
