// Place all the styles related to the Trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
}
footer {
  height: 60px;
  background-color: #f5f5f5;
}


.company {
  float: left;
  width: 30%;
}

.infolinks {
  float: right;
}

.company .credit {
  margin: 20px 0;
  margin-left: 20px;
}

.lista {
  list-style: none;
  li {
    float: left;
    padding-right: 32px;
    padding-left: 32px;
    margin: 20px 0;
  }
}

#trainings .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 20px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
  .selected_day { background-color: #FF00FF; }
  .day:hover { background-color: #3892b7; }
}

#trainings #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.conter {
  text-align:center;
  margin: auto;
  width: 70%;
}

#trainings ul {
  font-size: 11px;
  padding-left: 20px;
}

.accordion-body.in { overflow:visible; }
