// Place all the styles related to the TrainingExercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
  float: left;
  width: 30%;
}

.training-header {
  height: 35px;
}

.training-header-description {
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.training-options {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-top: 7px;
}

.accordion-inner ul {
  margin: 0;
  padding: 0;
}

.training-exercise form { display: none; }

table tr form { display: none; }

.training-exercise:hover {
  background: yellow;
}

.done {
  background: #E0FFE0;
}

.controls label {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
