// Place all the styles related to the Wiki controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
	list-style-type: none;
}

.element, .exercise{
	background-color: #E7F7FF;
	padding: 1em;
	margin: 0.5em;
	margin-right: 2em;
	border-radius: 0.5em;
	&:hover { background-color: #C2EBFF; }
}

.foreign {
  background-color: #E7F7FE;
  padding: 1em;
  margin: 0.5em;
  margin-right: 2em;
  border-radius: 0.5em;
}
