= link_to 'Create new Exercise', new_exercise_path
%ul
  - @exercises.each do |exercise|
    %li
      .exercise
        = link_to '', exercise_path(exercise.id)
        %p= exercise.element.name if exercise.element
        = image_tag exercise.element.image_url(:thumb).to_s if exercise.element
        %p= exercise.description
        %p= exercise.load
        - if exercise.hold
          %p= exercise.length
        - else
          %p= exercise.number_of_reps_in_set
        %p= exercise.number_of_sets
