= form_for :exercise, :url => exercises_path do |f|
  %p
    = f.label 'Element'
    = f.text_field :element_name, data: {autocomplete_source: Element.order(:name).map(&:name)}
  %p
    = f.label :description
    = f.text_field :description
  %p
    = f.label :load
    = f.number_field :load, :min => 0
  %p
    = f.label :hold
    = f.check_box :hold
  %p
    = f.label :length
    = f.number_field :length, :min => 0
  %p
    = f.label 'Number of repetition in set:'
    = f.number_field :number_of_reps_in_set, :min => 0
  %p
    = f.label 'Number of sets:'
    = f.number_field :number_of_sets, :min => 0
  %p= submit_tag "Create exercise"
