%p
  = image_tag @exercise.element.image_url(:small).to_s if @exercise.element
%p
  Element:
  = @exercise.element.name if @exercise.element
%p
  Description:
  = @exercise.description
%p
  Load:
  = @exercise.load
- unless @exercise.hold
  %p
    Number of repetitions in set:
    = @exercise.number_of_reps_in_set
- else
  %p
    Hold length:
    = @exercise.length
%p
  Number of sets:
  = @exercise.number_of_sets
%p
  = link_to 'edit', edit_exercise_path(@exercise) if @exercise.user == current_user
  |
  = link_to 'delete', @exercise, :data => { :confirm => 'Are you shure?' }, :method => :delete if @exercise.user == current_user
