%h4.center#month
  = link_to '', user_training_path(current_user, @date.prev_month), :class => 'icon-chevron-left'
  = @date.strftime("%B %Y")
  = link_to '', user_training_path(current_user, @date.next_month), :class => 'icon-chevron-right'
#trainings
  = calendar @date do |date|
    %div
      = link_to '', user_training_path(current_user, date) if date.month == @date.month
      = date.day
