.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', :href => '#collapseDaily'} Daily Exercises
      #collapseDaily.accordion-body.collapse
        .accordion-inner
          %table.table#daily-exercises-table
            - if not @daily_exercises.empty?
              = render 'daily_exercises/exercises_table_header'
            %tbody
              - @daily_exercises.each do |daily_exercise|
                = render daily_exercise
          = form_for :exercise, :url => daily_exercises_path(:date => params[:date]), remote: true, html: {:class => 'form-inline'} do |f|
            = f.text_field :id, :type => 'hidden', :class => 'exerciseId'
            = f.text_field :name, :class => 'add_training_exercise span12', :autocomplete => 'off', :placeholder => 'Element name'
            = f.text_area :description, :placeholder => 'Description', :class => 'exerciseDesc span12'
            = f.text_field :apparatus, :class => 'exerciseApparatus input-small', :placeholder => 'Apparatus', data: {autocomplete_source: Apparatus.order(:name).map(&:name)}
            .input-append
              = f.number_field :load, :placeholder => 'Load', :min => 0, :class => 'exerciseLoad input-mini'
              %span.add-on kg
            = f.check_box :hold, :class => 'te-cb'
            = f.number_field :number_of_reps_in_set, :min => 0, :placeholder => 'Reps', :class => 'exerciseReps input-mini'
            .input-append.te-len
              = f.number_field :length, :min => 0, :placeholder => 'Length', :class => 'exerciseLength input-mini'
              %span.add-on sec
            = f.number_field :number_of_sets, :min => 0, :placeholder => 'Sets', :class => 'exerciseSets input-mini'
            #timepickerDaily.input-append.time
              = f.text_field :time, 'data-format' => 'hh:mm:ss', :value => Time.now.strftime('%H:%M:%S'), :class => 'input-small'
              %span.add-on
                %i{'date-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
            = f.button :Add, :class => 'btn'
