.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Sportovi
      %li Gimnastika
      %li Sinkro
      %li Nogomet
      %li.nav-header Tip
      %li Snaga
      %li Fleksibilnost
      %li Vjestina
.span6
  .well
    = yield
