%li= link_to 'DrillsBook', root_path, :class => 'brand'
- if user_signed_in?
  %li= link_to 'Trainings', user_training_path(current_user, Date.today), :class => 'brand'
  %li.dropdown
    %a.dropdown-toggle.brand#dLabel{"data-toggle" => "dropdown", :href => "#", :role => 'button'}
      Wiki
      %b.caret
    %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
      %li= link_to 'Exercises', exercises_path, :role => 'menuitem'
      %li= link_to "Elements", elements_path, :role => 'menuitem'
