.modal.hide.fade{:id =>"repeatModal#{training.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Repeat training
  .modal-body
    = form_for :repeat, :url => repeats_path, remote: true, :html => {:class => 'form-horizontal'} do |f|
      = f.text_field :training_id, :type => 'hidden', :value => training.id
      .control-group
        = f.label 'Repeats:', :class => 'control-label'
        .controls= f.select :type, [['Daily', 1], ['Weekly', 2]], {}, {:class => 'input-small repeat-type'}
      .control-group.daily
        = f.label 'Repeat every:', :class => 'control-label'
        .controls
          .form-inline
            = f.select :days, [1,2,3,4,5], {}, {:class => 'input-mini'}
            = f.label 'days'
      .weekly
        .control-group
          = f.label 'Repeat every:', :class => 'control-label'
          .controls
            .form-inline
              = f.select :weeks, [1,2,3,4], {}, {:class => 'input-mini'}
              = f.label 'weeks'
            = f.check_box :sunday
            = f.label :sunday, 'S', :class => 'checkbox inline'
            = f.check_box :monday
            = f.label 'M', :class => 'checkbox inline'
            = f.check_box :tuesday
            = f.label 'T', :class => 'checkbox inline'
            = f.check_box :wednesday
            = f.label 'W', :class => 'checkbox inline'
            = f.check_box :thursday
            = f.label 'T', :class => 'checkbox inline'
            = f.check_box :friday
            = f.label 'F', :class => 'checkbox inline'
            = f.check_box :saturday
            = f.label 'S', :class => 'checkbox inline'
      .control-group
        = f.label 'Starts on:', :class => 'control-label'
        .controls
          .startdatepicker.input-append.date
            = f.text_field :start_date, 'data-format' => 'dd-MM-yyyy', :value => training.start.to_date.strftime('%d-%m-%Y'), :class => 'input-small'
            %span.add-on
              %i{'date-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
      .control-group
        = f.label 'Ends:', :class => 'control-label'
        .controls
          .form-inline.after-rb
            = f.radio_button :after, 'true', :checked => true, :class => 'inline'
            = f.label 'after'
            = f.number_field :repeat_after, :min => 0, :class => 'input-mini'
            = f.label 'occurrences'
          .form-inline.on-rb
            = f.radio_button :on, 'false'
            = f.label 'on'
            .enddatepicker.input-append.date
              = f.text_field :end_date, 'data-format' => 'dd-MM-yyyy', :value => training.start.to_date.strftime('%d-%m-%Y'), :class => 'input-small'
              %span.add-on
                %i{'date-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary.repeat-submit Repeat
