- if params[:action] == 'show'
  = yield
- else
  .content-fluid
    .row-fluid
      .span3
        .sidebar-nav
          = render 'layouts/calendar'
          .push
      .span6
        = yield
      .span3
        .sidebar-nav
          %ul.nav.nav-list
            %li.nav-header Statistike
