- if user_signed_in?
  %ul.nav.span3.pull-right
    %li.dropdown
      %a.dropdown-toggle.brand#userLabel{"data-toggle" => "dropdown", :href => "#", :role => 'button'}
        #{current_user.email}
      %ul.dropdown-menu{"aria-labelledby" => "userLabel", :role => 'menu'}
        %li= link_to 'Edit', edit_user_registration_path, :role => 'menuitem'
        %li= link_to 'Log out', destroy_user_session_path, :method => :delete, :role => 'menuitem'
- else
  %ul.nav.span6.pull-right
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.email_field :email, :autofocus => true, :placeholder => 'Email'
      = f.password_field :password, :placeholder => 'Password'
      = f.check_box :remember_me
      = f.submit 'Sign in', :class => 'btn btn-primary'
