!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "DrillsBook"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #wrap
      %header.navbar.navibar-inverse.navbar-fixed-top
        %nav.navbar-inner
          .container
            %ul.nav.span5{:role => 'navigation'}
              = render 'layouts/navigation'
            = render 'layouts/user' if params[:controller] != 'session'
      #main{:role => "main"}
        .container
          .container-fluid
            .row-fluid.no-space
              = render 'layouts/messages'
              = render "layouts/#{params[:controller]}"
    %footer#footer
      .container
      = render 'layouts/footer'
    .span1
    .span10
      = debug(params) if Rails.env.development?
